<!DOCTYPE html>
{% load static %}
<html lang="fr" data-coreui-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="{% static 'css/coreui.min.css' %}">

    {% block favicon %} {% endblock %}
    <!--<link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon1.ico' %}">-->
  
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />

    <title>Copromanager{% block title %}{% endblock %}</title>
  </head>

  <body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <!-- Include Navbar-->
    <div class="container text-center mb-5">{% include 'navbar.html' %}</div>

    <div class="mb-5">{% block content %}{% endblock %}</div>

    <footer class="footer -fluid">
      <div>
        <a href="https://coreui.io">CoreUI</a>
        <span>&copy; {{date}} creativeLabs.</span>
      </div>
      <div>
        <span>Powered by</span>
        <a href="https://coreui.io">CoreUI</a>
      </div>
    </footer>

    <script src="{% static 'js/script.js' %}"></script>
    <!-- Option 1: CoreUI for Bootstrap Bundle with Popper -->
    <script src="{% static 'js/coreui.bundle.min.js' %}"></script>
</html>
