{% extends 'main.html' %}

{% load static %}

{% block title %}
- Chat Home Template
{% endblock %}

{% block favicon %}
<link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon3.ico' %}">
{% endblock %}

{% block content %}

    <div class="container">
        <h1>Bienvenue sur l'accueil</h1>
        <p>Aujourd'hui, nous sommes le {{ date }}.</p>
        <p>Utilisez la navigation pour accéder aux différentes sections de l'application.</p>
        <div class="text-center mt-5">
            <a href="{% url 'login' %}" class="btn btn-primary">Connexion</a>
        </div>
        
        <!--<a href="{% url 'register' %}" class="btn btn-secondary">Inscription</a>-->
    </div>

{% endblock %}
